@import "@styles/index.module.scss";

.button {
  @include body-md-bold;
  border: 0;
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  & .disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
  }
}

// Button Variants

.primary {
  background-color: $color-gray-50;

  &:hover {
    background-color: $color-gray-200;
  }
}

.secondary {
  background-color: $color-primary-700;
  color: $white;

  &:hover {
    background-color: $color-primary-600;
  }
}

.tertiary {
  background-color: $color-secondary-700;
  color: $white;

  &:hover {
    background-color: $color-secondary-600;
  }
}

