@import '@styles/index.module.scss';

$height: calc(100vh - 8.7rem);

.hero-container {
  height: $height;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8.7rem;
  column-gap: 6.4rem;
  background-image: url('../../../assets/images/hero/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -50px;

  .carousel-wrapper {
    width: 800px;
  }
}