@import '@styles/index.module.scss';

$height: calc(100vh - 8.7rem);

.hero-container {
  height: $height;
  width: 100vw;
  position: relative;
  margin-top: 8.7rem;
  column-gap: 6.4rem;

  .carousel-wrapper {
    height: 100%;
    width: 100%;

    .image-shadow {
      z-index: 2;
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.4);

      .hero-title {
        color: white;
        font-size: 9.2rem;
        text-align: center;

        .title-bold {
          color: $color-brand-alternative-200;
        }
      }
    }
  }
}